{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
{% block content %}
  <h2>Password change</h2>
  <p>
    To change your password:
    <ul class="px-5">
      <li>Enter old password</li>
      <li>Enter new password</li>
      <li>Enter new password again, just to be sure!</li>
    </ul>
  </p>
  <hr>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-outline-primary" type="submit" value="Change my password">
  </form>
{% endblock content %}