{% extends 'base.html' %}
{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
<h1>Forgot your password?</h1>
<p>
  Enter your email address below, and we'll email instructions for setting a new one.
  <br>
  <b>Make sure the email address you're entering is the one attached to your account</b>
</p>
<hr>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-outline-primary" type="submit" value="Send me instructions!">
</form>
{% endblock content %}