{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<h2>Sign Up</h2>
<p>
  Signing up to this site allows you to post comments on the movies!
  <br>
  And if you're a staff member you'll be able to <em>add</em>, <em>update</em>, and <em>delete</em> the movies available for review!
</p>
<hr>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class = "btn btn-outline-primary" type="submit">Sign Up</button>
</form>
{% endblock content %}