{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
   <h1>Homepage</h1>
   <img src="{% static 'images/homeImg.PNG' %}" alt="Home Page Image" class="px-3">
   <div>
      <h2>CA1 Specifications</h2>
      <hr>
      <p>
         <ul>
            <li>Website structure & web page design</li>
            <li>Use of bootstrap</li>
            <li>Ue of static files</li>
            <li>Use of django crispy forms</li>
            <li>Different layout and structure from labs</li>
         </ul>
         <ul>
            <li>Sign Up, Log In, Log Out, Password Reset, password change</li>
            <li>CRUD Functionality</li>
            <li>Use of Django admin for performing add/update/deletes</li>
            <li>Use of views, templates and urls for the dynamic generation of web site content</li>
            <li>Use of json for population of database tables</li>
            <li>1-many (foreign key) and 1-1 relationships</li>
            <li>Use of static files & forms</li>
            <li>Use of custom user model</li>
            <li>User authentication</li>
            <li>Use of images</li>
            <li>User permissions & authorisation</li>
         </ul>
      </p>
   </div>
{% endblock content %}

